@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


:root {
  --primary-color : hsl(0, 36%, 70%);
  --red-color : hsl(0, 93%, 68%);
  --dark-red : hsl(0, 6%, 24%);
}

*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-bottom: 20px;
  
}

.main__container{
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  max-height: 700px;
  margin: 40px auto;
}

.form__container {
  background-color: #fff;
  max-width: 700px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
}

.form__container .logo {
  margin-bottom: 70px;
}

.form__container .header .main__header {
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  color : var(--primary-color);
}

.form__container .header .secondary__header,
.form__container .header .secondary__header1
{
text-transform: uppercase;
letter-spacing: 10px;
font-size: 35px;
font-weight: 400;
} 

.form__container .header .secondary__header1 {
  margin-bottom: 30px;
} 

.form__container .header p {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.form__container .input {
    width: 70%;
    position: relative;
}

.form__container .input input {
  padding: 15px 20px;
  width: 100%; 
  border-radius: 50px;
  border: none;
  border : 1px solid var(--dark-red);
  outline: none;
  position: relative;
}

.form__container .input .erroricon {
  position: absolute;
  top: 10px;
  right: 60px;
  display: none;
}

.form__container .input .errormessage {
  color : var(--red-color);
  padding: 10px 15px;
   display: none; 
}

.form__container .button {
  padding: 0px 20px;
  background: linear-gradient( hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
  border-radius: 50px;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid var(--red-color);
  position: absolute;
  top: 0px;
  right: -39px;
}

.form__container .button:hover {
  color: black;
  background:linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.form__container .button:focus {
  outline: none;
}


.image__container {
  display: flex;
  width: 400px;
}

.main__image {
  height: 500px;
  max-width: 368px;
}

.secondary__image {
  display: none;
}
@media(max-width: 600px) {

  body {
    position: relative;
  }
  .main__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .form__container{
    display: flex;
    width: 100%;
    padding: 0px;
    order: 3;
    background: url(./images/bg-pattern-desktop.svg);
  }
  
  .logo {
    order : 1;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .form__container .header {
    text-align: center;
  }

  .form__container .header p{
    padding: 0px 30px
  }
    .form__container .input {
    width: 70%;
    margin: 0px auto;
}

  .image__container{
    order:2;
    margin-bottom: 50px;
  }

  .image__container .main__image {
    display: none;
  }

  .form {
    text-align: center;
  }
  .image__container .secondary__image {
    margin-top: 50px;
    display: block;
    
    width: 100%;
    max-width: 100000px;
    height: auto;  }


.image__container {
  width: auto!important;
}
}